*,
*::after,
*::before {
	box-sizing: border-box;
	transition: all .35s ease-in-out;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 100%;
}

.body {
	font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}

.esya_logo {
	position: absolute;
	right: 20px;
	top: 20px;
	background: url(esya.png) center center no-repeat;
	background-size: cover;
	height: 100px;
	width: 100px;
}

.register_button {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: rgba(#fff, 0.5);
	font-family: PT Mono;
	text-decoration: none;
	font-size: 12pt;
	letter-spacing: 2px;
	border-radius: 50px;
	border: 2px solid rgba(#fff, 0.5);
	padding: 13px 35px;
	&:hover {
		background: #3DA7E2;
		color: #fff;
	}
	&:active,
	&:focus {
		color: #fff;
		border: 2px solid rgba(#fff, 0);
	}
}

.iiitd_logo {
	position: absolute;
	left: 20px;
	top: 20px;
	background: url(iiitd.png);
	background-size: cover;
	height: 50px;
	width: 100px;
}

.hero {
	height: 100vh;
	display: table;
	width: 100%;
	background: #efefef;

	.container {
		display: table-row;
		width: 100%;
		.cell {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
			text-align: center;
		}
		.left {
			background: url(back.jpg) center center no-repeat fixed;
			background-size: cover;
			h1 {
				font-family: Raleway;
				font-weight: normal;
				font-size: 5vw;
				background: #fc00ff;
				/* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
				/* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #00dbde, #fc00ff);
				/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			h3 {
				margin-top: 10px;
				font-family: IBM Plex Sans;
				font-weight: normal;
				font-size: 1vw;
				color: #999;
			}
		}
		.right {
			/*position: relative;*/
			background: url("https://www.toptal.com/designers/subtlepatterns/patterns/simple_dashed.png");

			font-family: IBM Plex Sans;
			font-size: 1.2vw;
			color: rgba(#fff, 0.7);
			text-align: left !important;
			.lead {
				line-height: 1.4;
				padding: 0 100px;
			}
		}
	}
}

.links {
	position: absolute;
	margin-top: 30px;
	a {
		margin-right: 20px;
		text-decoration: none;
		padding-bottom: 5px;
		border-bottom: 2px solid rgba(#fff, 0);
		&:hover {
			color: rgba(#00adef, 1);

			border-bottom: 2px solid rgba(#00adef, .4);
		}
	}
}

.one {
	color: rgba(#00adef, .6);
}

.two {
	color: rgba(#00adef, .6);
}

.three {
	color: rgba(#00adef, .6);
}

.four {
	color: rgba(#00adef, .6);
}
.coming_soon_two {
	background: #fff !important;
}
.divider {
	height: 30vh;
	// background: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png") center center fixed;
	display: table;
	background: url(sep.JPG) center center no-repeat fixed;
	background-size: cover;
	width: 100%;
	.centered {
		background: rgba(#00adef, 0.6);
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		h1 {
			font-family: Raleway;
			font-weight: normal;
			font-size: 3vw;
			letter-spacing: -.2px;
			color: black;
		}
		h3 {
			margin-top: 15px;
			font-family: IBM Plex Sans;
			font-weight: normal;
			font-size: 1vw;
			letter-spacing: 2px;
			color: rgba(#999, 0.7);
		}
	}
}

.coming_soon {
	height: 50vh;
	background: black;
	display: table;
	width: 100%;
	.centered {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		h1 {
			font-family: Raleway;
			font-weight: normal;
			font-size: 3vw;
			letter-spacing: -.2px;
			background: #fc00ff;
			/* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
			/* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #00dbde, #fc00ff);
			/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		h3 {
			margin-top: 15px;
			font-family: IBM Plex Sans;
			font-weight: normal;
			font-size: 1vw;
			letter-spacing: 2px;
			color: rgba(#999, 0.7);
		}
	}
}

.past_spons {
	font-family: IBM Plex Sans;
	/*background: url(spons.png) bottom center no-repeat ;*/
	/*height: 100vh;*/
	text-align: center;
	h1 {
		font-family: Raleway;
		font-size: 2vw;
		padding-top: 70px;
		font-weight: normal;
	}
}

.contact {
	background: black;
	/*height: 50vh;*/
	padding: 60px 100px;
	h1 {
		padding-bottom: 5px;
		font-family: IBM Plex Sans;
		color: #999;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.6vw;
	}
	.mini-dash {
		color: #999;
		margin-top: 5px;
		width: 3vw;
		height: .2vw;
		background: #999;
	}
}

.names {
	display: table;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
	.name_row {
		display: table-row;
		width: 100%;
		.name {
			display: table-cell;
			h2 {
				font-weight: normal;
				font-family: IBM Plex Sans;
				color: #999;
				font-size: 1.5vw;
				padding-bottom: 10px;
			}
			h3 {
				font-weight: normal;
			}
			a {
				text-decoration: none;
				opacity: .7;
				font-size: .9vw;
				font-family: IBM Plex Sans;
				color: #00adef;
			}
		}
	}
}

.savethedate {
	font-size: .8vw;
	margin-top: 30px;
	font-family: IBM Plex Sans;
	color: rgba(#fff, 0.4);
	/*letter-spacing: -2px;*/
}

.mobile-hero {

	height: 80vh;
	background: black;
	width: 100%;
	padding: 0;
	margin: 0;
	display: none;
	position: relative;
	.headings {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		color: #fff;
	}
	h1 {
		font-family: Raleway;
		font-weight: normal;
		font-size: 3rem;
		background: #fc00ff;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #00dbde, #fc00ff);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h3 {
		margin-top: 10px; // margin-bottom: 100px;
		font-family: IBM Plex Sans;
		font-weight: normal;
		font-size: 1rem;
		color: #999;
	}

	.register-mobile {
		color: rgba(#fff, 0.5);
		font-family: PT Mono;
		text-decoration: none;
		font-size: 9pt;
		border-radius: 50px;
		border: 2px solid rgba(#fff, 0.5);
		padding: 13px 20px;
		&:active,
		&:focus {
			background: #fc00ff;
			/* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
			/* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #00dbde, #fc00ff);
			/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			// background: #00adef;
			color: #fff;
			border: 2px solid rgba(#fff, 0);
		}
	}

	.links {
		position: absolute;
		top: 0;
		font-family: IBM Plex Sans;
		width: 100%;
		.inline {
			li {
				display: inline;
				a {
					opacity: 0.6;
					color: #00adef;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.esya_logo {
		top: 5px;
		right: 5px;
		height: 90px;
		width: 90px;
	}
	.mobile-hero {
		display: table;
	}
	.iiitd_logo {
		height: 40px;
		width: 80px;
	}
	.hero {
		display: none;
	}
	.divider {
		height: 30vh;
		/*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png") center center fixed;*/
		display: table;
		width: 100%;
		.centered {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			h1 {
				font-family: Raleway;
				font-weight: normal;
				font-size: 2rem;
				letter-spacing: -.2px;
				color: black;
			}
			h3 {
				margin-top: 15px;
				font-family: IBM Plex Sans;
				font-weight: normal;
				font-size: 1rem;
				letter-spacing: 2px;
				color: rgba(#999, 0.7);
			}
		}
	}
	.coming_soon {
		height: 30vh;
		background: black;
		display: table;
		width: 100%;
		.centered {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			h1 {
				font-family: Raleway;
				font-weight: normal;
				font-size: 2rem;
				letter-spacing: -.2px;
				background: #fc00ff;
				/* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
				/* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #00dbde, #fc00ff);
				/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			h3 {
				margin-top: 15px;
				font-family: IBM Plex Sans;
				font-weight: normal;
				font-size: 1rem;
				letter-spacing: 2px;
				color: rgba(#999, 0.7);
			}
		}
	}
	.past_spons {
		padding: 30px 0;
		h1 {
			padding-top: 10px;
			font-weight: normal;
			color: #333;
			font-size: 1.4rem;
		}
	}

	.contact {
		background: black;
		/*height: 50vh;*/
		// padding: 60px 100px;
		h1 {
			padding-bottom: 0px;
			font-family: IBM Plex Sans;
			color: #999;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 1.3rem;
		}
		.mini-dash {
			color: #999;
			margin-top: 5px;
			margin-left: 2px;
			width: 3rem;
			height: .1rem;
			background: #999;
		}
	}

	.names {
		display: list;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 25px;

		.name {
			display: list-item !important;
			padding-bottom: 20px;
			h2 {
				font-weight: normal;
				font-family: IBM Plex Sans;
				color: #999;
				font-size: 1rem !important;
				padding-bottom: 5px !important;
			}
			h3 {
				font-weight: normal;
			}
			a {
				text-decoration: none;
				opacity: .7;
				font-size: .9rem !important;
				font-family: IBM Plex Sans;
				color: #00adef;
			}
		}
	}

	.savethedate {
		font-size: .8rem;
		margin-top: 30px;
		font-family: IBM Plex Sans;
		color: rgba(#fff, 0.4);
		/*letter-spacing: -2px;*/
	}
}


.small {
	font-size: 0.8 rem;
	opacity: 0.7;
	a {
		color: #ff3355;
		text-decoration: none;
	}
}

.name {
	img {
		border-radius: 50%;
		margin-bottom: 10px;
	}
}

// .bottom {
// 	padding-bottom: 30px;
// }
// .top {
// 	// padding-top: 10px;
// }
// .bottom-small {
// 	padding-bottom: 10px;
// }
.logosbar {
	width: 100%;
	padding: 10px 50px;
	.logocontain {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		text-align: center;
		a {
			text-decoration: none;
			img {
				vertical-align: middle;
				margin-left: 50px;
				margin-bottom: 80px;
			}
		}
	}
}

a {
	color: black;
}
.card {
	width: 100vw;
	max-width: 100%;
	padding: 150px 50px;
	/*padding-top:60px;*/
	text-align: center;
	position: relative;
	z-index: 101;
	background-color:white;
}
.card h2 {
	font-family: Raleway;
   color: #2f68eb;
}
.card a {
   color: #3979FD;
   text-decoration: none;
}
.card a:hover {
    color: #00adef;
}
#press {
	background-color: white;

}

#press-array {
	display: flex;
	align-items: center;
}

.press-element {
	display: inline-block;
	flex: 1 1 auto;
	/*height: 150px;*/
	width: 30%;
	margin-top: 20px;
	padding: 20px;
}

.press-title {
	font-size: 35px;
	font-family: IBM Plex Sans;
	font-weight: 100;
	color: #3979FD;
}

.press-source {
	font-size: 20px;
	font-weight: 400;
	font-family: IBM Plex Sans;
	color: rgba(#fff,0.7);
	margin-top: 10px;
}

@media screen and (max-width: 900px){
	#press-array {
		display: block;
	}
	.press-element {
		width:100%;
	}
}

.underlinable:hover {
	cursor: pointer;
	// text-decoration: underline;
}

#faq {
	/*background-color: white;*/
	background-color: black;
}

#faq-content {
	width: 900px;
	margin: auto;
	text-align: left;
}
